*{
	/*font-family: 'Quattrocento', serif;*/
	font-family: 'Roboto Slab', serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	min-width: 375px;
}
body p{
	font-size: 15px;
}
h1{
	color: #1b1464;
	padding: 43px;
	text-align: center;
}
h2{
	color: black;
	text-align: center;
	padding: 25px;
	font-size: 25px;


}
/*-------------sección animada de los titulos----------------*/
.animado{
	opacity:0;
	transition:all 1.5s;

}
.arriba{
	animation: arriba 1s;
}
@keyframes arriba{
	0%{
		transform: translateY(100px);
	}
	100%{
		transform: translateY(0);
	}
}
/*animación de la paloma*/
.delado{
	animation: delado 2s;

}
@keyframes delado{
	0%{
		transform: translateX(-500px);
	}
	100%{
		transform: translateX(0);
	}
}
.ave{
	opacity: 0;
	transition:all 2s;
}

/*---------------servicios.html-----*/
.contenido h1{
	  font-family: 'Dancing Script', cursive !important;
	  font-size: 40px: 
}