
.seccion-tarjetas{
  text-align: center;
  /*background: rgb(107,60,8);
  background: linear-gradient(0deg, rgba(107,60,8,1) 24%, rgba(255,255,255,1) 98%);*/
  background-color: white;
  height: 100%;
  padding-bottom: 45px;
  margin: auto;
  margin-top: 75px;
}
.seccion-tarjetas h1{
  
  width: 183px;
  height: 58px;
  margin-top: -40px;
  margin-bottom:80px;
  color: black;
  font-size: 30px;
  
 font-size: 40px;
 font-family: 'Dancing Script', cursive;

}
.seccion-tarjetas p{
 margin-top: 45px;
 margin-bottom: 15px;
 font-size: 25px;

}
.N{
  width:269px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}
h1{

  display: inline-block;
  position: relative;
}

h1::before,h1::after{
  content: "";
  position:absolute;
  width: 70px;
  height: 3px;
  color: black;
  background-color:black;
  top:3em;
}
h1::after{
  left: -40px;
}
h1::before{
  right: -40px;
}
h1::before,h1::after{
    display: none;
}
h2{
  
  height: 76px;

  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 44px 10px 44px;


  font-family: 'Dancing Script', cursive;
  font-size: 35px;
 background-color:#804000; 
  color:white;
  width: 93%;

  /*background-color: #704C2A;*/

}
.contenido p{
  margin-top: 54px;
}
.contenedor-tarjeta{
  position: relative;
  width: 312px;
  height: 280px;
  margin: auto;
 right: 30px;
 margin-bottom: 80px;
}
.contenedor_info h2, p, li {
    padding: 0!important;
}
.tarjeta{
  position: absolute;
  width: 312px;
  height: 100%;
  transform-style: preserve-3d;
  transition:  3s ease;
  margin: 10px 30px 10px 30px;
  -webkit-box-shadow:0px 15px 15px -5px rgba(0,0,0,0.4);
  -moz-box-shadow:0px 15px 15px -5px rgba(0,0,0,0.4);
  box-shadow:0px 15px 15px -5px rgba(0,0,0,0.4);

  text-align: center;
  background: #34495E;
 
   
}
.tarjeta:hover{
transform: rotateY(180deg);
  text-align: center;
  

}
.P-frontal{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  color:#333;


}
.P-trasera{
  position: absolute;
  width:80%;
  height: 80%;
  backface-visibility: hidden;
  color:#fff;
  transform: rotateY(180deg);
  text-align: center;
  right: 30px;
  bottom: 82px;

}
.P-trasera1{
  position: absolute;
  width:80%;
  height: 80%;
  backface-visibility: hidden;
  color:#fff;
  transform: rotateY(180deg);
  text-align: center;
  right: 30px;
  bottom: 50px;
}
.P-frontal img{
  width: 100%;
  height: 100%;
}
figure{
  display: none;
}
  .sedes-desktop{
    display: none;

  }
  #costa-rica-titulo{
      text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  }
  #btn-servicios{
     text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  }
  #btn-obi{
     text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  }
/*---------------tarjetas 1080-----------*/


.grid{
  display: grid;
  
grid-template-columns: repeat(2,auto) ;
grid-template-areas: "uno dos";
justify-content: space-around;
text-align: center;
}

.tres{
  display: grid;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 150px;
  left: 590px;

}

.contenedor figure{
  position: relative;
  height: 300px;
  width: 400px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
  cursor: pointer;
}

.contenedor figure img{
  width: 100%;
  height: 100%;
  transition:  all 800ms ease-out;
}

.contenedor figure .capa{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(11,103,123,0.6);
  transition: all 800ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.contenedor figure:hover > .capa{
  opacity: 1;
  visibility: visible;
}

.contenedor figure:hover > .capa h3{
  margin-top: 70px;
  margin-bottom: 15px;
}

.contenedor figure:hover >img{
  transform: scale(1.3);
}

.contenedor figure .capa h3{
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 800ms ease-out;
  margin-top: 30px;
}

.contenedor figure .capa p{
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}


/*--------------812px mediaQuery------------*/


@media  (min-width: 812px) {

.contenido h2{
margin: auto;
margin-top: 15px;
}
.contenedor-tarjeta{
  margin: auto;
  left: -30px;
  margin-bottom: 80px;
}


h2{width: 96.3%;}



.nic{
  margin: auto;
  margin-top: 60px;
}
.seccion-tarjetas{
  margin-top: 30px;
}
figure{
  display: none;
}
#costa-rica-titulo{
  margin: auto;
  position: relative;
}
.P-trasera{
  right: 30px;
  top:-25px;
}
.P-trasera1{

  right: 30px;
  top: -2px;
}


}
/*--------------1080px mediaQuery------------*/

@media  (min-width: 1080px) {
figure{
  display: block;
}
.seccion-tarjetas{
  display: none;
}
.sedes-desktop{
  display: block;
}
.sedes-desktop h1{
  margin-left: 540px;
  width: 300px;
  height: 58px;
  margin-top: 80px;
  margin-bottom:25px;
  color: black;



}
.sedes-desktop h2{
 margin-top: 25px;
 margin-bottom: 50px;
}
.tres p{
  font-size: 20px;
}
.grid p{
 margin-top: 45px;
 margin-bottom: 15px;
 font-size: 20px;

}
#titulo-sedes{
    width: 100%;
  height: 80px;
   font-size: 90px;
  font-family: 'Dancing Script', cursive;
  background-color:#804000;
  text-align: center;
  position: relative;
  top: 25px;
}
#costa-rica{
  position: relative;
  top: 42px;

  
}
h1{

  display: inline-block;
  position: relative;
}
h1::before,h1::after{
  content: "";
  position:absolute;
  width: 70px;
  height: 3px;
  color: black;
  background-color:black;
  top:3em;
}
h1::after{
  left: -40px;
}
h1::before{
  right: -40px;
}
h2{
  width: 287px;
  height: 76px;
  background-color: #804000;
  color:white;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 44px 10px 44px;
}
.tres{
  margin-bottom: 250px; 
}
.tres p {
  margin-bottom: 15px;
}