/*
.slider{
    width: 340px;
    margin: auto;
    overflow: hidden;
    margin-top:-100px;


}

.slider ul{
    display: flex;
    padding: 0;
    width: 600%;

    animation: cambio 20s infinite alternate;
    animation-timing-function: linear;
    overflow: hidden;

}
.slider li{
    width: 100%;
    list-style: none;
    overflow: hidden;

}

.slider img{
    width: 340px;
    height: 100%;
    overflow: hidden;
}
.slider2{
    margin:100px 0 100px 0;
    background-color:#34495E ;
}


@keyframes cambio{

    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}
/*--------------812px mediaQuery------------*/


/*
@media  (min-width: 812px) {
    .slider img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slider{
    width: 80%;
    height: 510px;
}
}*/
/*--------------1080px mediaQuery------------*/

/*@media  (min-width: 1080px) {
   .slider2{
    width: 100%;
    height: 700px;
    background-color: #EFE6C5;
   }
    .slider{
        height: 700px;
       width: 60%;
        background-color: #EFE6C5;
    }
    .slider img{
        height: 500px;
    margin-top: 12%;
    }
}*/

.slider{
    position: relative;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
 


    

}
.slider-slides{/*contenedor de las slides*/
    position: relative;
    height: 400px;
}
.slider-slide{
    position: absolute;/*se acomoda al primer contenedor relativo*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;/*todas en opacidd 0*/
    visibility: hidden;
    transition: opacity 1s ease;

}
.slider-slide img{
    height: inherit;
    width: inherit;
    object-fit: fill;/*cover:imagen se adapta al tamaño del contenedor*/
    object-position: 50% 0%;
}
.active{
    opacity: 1;
    visibility: visible;
}
.slider-btns{
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    font-weight: bold;

}

.slider a{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: thin solid #000;
    text-decoration:none;
    background-color:#F0D66E ;
    color: #804000;
    transition: all 0.3s ease; 
  

}

.slider a:hover{
    background-color:transparent;
    color: 
}


@media  (min-width: 812px) {
    .slider-slides{/*contenedor de las slides*/
    position: relative;
    height: 500px;
}
}
@media  (min-width: 1080px) {
   .slider-slides{/*contenedor de las slides*/
    position: relative;
    height: 550px;
}
}
