
.slider{
    position: relative;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
 }
.slider-slides{/*contenedor de las slides*/
    position: relative;
    height: 400px;
}
.slider-slide{
    position: absolute;/*se acomoda al primer contenedor relativo*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;/*todas en opacidd 0*/
    visibility: hidden;
    transition: opacity 1s ease;

}
.slider-slide img{
    height: inherit;
    width: inherit;
    object-fit: fill;/*cover:imagen se adapta al tamaño del contenedor*/
    object-position: 50% 0%;
}
.active{
    opacity: 1;
    visibility: visible;
}
.slider-btns{
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    font-weight: bold;

}

.slider a{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: thin solid #000;
    text-decoration:none;
    background-color:transparent; ;
    color:black;
    transition: all 0.3s ease; 
  

}

.slider a:hover{
  
    color:#804000; 
}


@media  (min-width: 812px) {
    .slider-slides{/*contenedor de las slides*/
    position: relative;
    height: 500px;
}
}
@media  (min-width: 1080px) {
   .slider-slides{/*contenedor de las slides*/
    position: relative;
    height: 550px;
}
}
