
#caja{
  width: 100%;

}
#contenido{
  text-align: center;

  background-color: black;
}
#contenido h1{
   width: auto;
  height: 58px;
  margin-top: 30px;
  margin-bottom:45px;


}
h1{

  display: inline-block;
  position: relative;
}

.ob img{
  width: 340px;
  height: 321px;
  margin:0 10px 50px 10px;
}
.linea{
  width: 340px;
  height: 32px;
}

@media (min-width: 812px){

  .linea{
    width: 610px;
    height: 35px;
  }
  

}

@media (min-width: 1080px){

  .linea{
    width: 710px;
    height: 35px;
  }
  
  .ob img{
    width: 450px;
    height: 400px;
    margin:0 35px 60px 35px;
  }


}