*{
	 font-family: 'Roboto Slab', serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	

}
body p{
	font-size: 16px;
}
h1{
	color: #1b1464;
	padding: 43px;
	text-align: center;
}
h2{
	color: black;
	text-align: center;
	padding: 25px;
	font-size: 25px;


}